qr-mesa {
	.card{
		margin: auto;
		border-radius: 5%;
		padding: 10px;
		margin-top: 10%;
	}

	.text-center{
		text-align: center;
	}

	.ocupada{
		margin-top: 20%;
	}

	.estado{
		margin: 0 0 10px 10px;
	}

	.img-reserva{
		max-width: 60%;
	    margin-left: 20%;
	    margin-right: 20%;
	    margin-top: 6%;
	    margin-bottom: 5%;
	}

	.cb{
		margin-top: 7%;
	}

	.img-mozo{
		max-width: 70% !important;
		margin: 5% 15% 5% 15%;
	}

	.estado{
		text-transform: capitalize;
	}
}
