<!-- Generated template for the QrEntradaComponent component -->
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<ion-header>
  <ion-navbar color="primary">
    <ion-title text-center>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>>
    <ion-grid>
     
      <button ion-button block color="primary" (click)="ponerEnLista()">Agregarme a Lista Espera</button>
      <button ion-button block color="primary" (click)="verEncuestas()">Ver Encuestas</button>
      <button ion-button block color="primary" (click)="cancelar()">Cancelar</button>
    </ion-grid>
  </div>


  
</ion-content>

