<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<ion-header>
  <ion-navbar color="primary">
    <ion-title text-center>Pedidos Pendientes</ion-title>
    <ion-buttons end style="margin-right: 10px;">
      <button ion-button icon-only (click)="back()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <div>
  	<div *ngFor="let pedido of pedidos" class="card">
	  <div class="card-body">
	  	<h4 class="card-title text-center">Mesa Nº {{pedido.numero}}</h4>
	  	<div *ngFor="let item of pedido.productos" class="">
		    <div class="item-producto grid-container">
		    	<div class="Contenido">
			    	<p class="card-text item-nombre">{{item.nombre}}</p>
				    <p class="card-text item-descripcion">{{item.descripcion}}</p>
		    	</div>
		    	<div>
		    		<h3 class="item-cantidad">{{item.cantidad}}</h3><p class="card-text item-porcion">Porciones</p>
		    	</div>
		    </div>
	  	</div>
  		<button *ngIf="!(pedido.estado == 'preparando pedido')" ion-button block color="primary" (click)="pedirPreparar(pedido)">Preparar</button>
  		<button *ngIf="(pedido.estado == 'preparando pedido')" ion-button block color="primary" (click)="terminar(pedido)">Terminar pedido</button>
	  </div>
	  </div>
  </div>

  <div *ngIf="!hayProducto">
  	<h2 class="text-center">No hay pedidos pendientes</h2>
  </div>

  <button ion-button block color="primary" (click)="renovarpedidos()">Renovar Pedidos</button>
  
</ion-content>

