@import "../theme/variables.scss";

/*ion-app.md{
    background-image: url('../assets/Imagenes/splashComanda.jpg') !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}*/

.flex{
    &-v{
        display: flex;
        flex-direction: column
    }
    &-h{
        display: flex;
        flex-direction: row
    }
}

.height{
    &-10{
        height: 10%;
    }
    &-20{
        height: 20%;
    }
    &-30{
        height: 30%;
    }
    &-40{
        height: 40%;
    }
    &-50{
        height: 50%;
    }
    &-60{
        height: 60%;
    }
    &-70{
        height: 70%;
    }
    &-80{
        height: 80%;
    }
    &-90{
        height: 90%;
    }
    &-100{
        height: 100%;
    }
}

.width{
    &-10{
        width: 10%;
    }
    &-20{
        width: 20%;
    }
    &-30{
        width: 30%;
    }
    &-40{
        width: 40%;
    }
    &-50{
        width: 50%;
    }
    &-60{
        width: 60%;
    }
    &-70{
        width: 70%;
    }
    &-80{
        width: 80%;
    }
    &-90{
        width: 90%;
    }
    &-100{
        width: 100%;
    }
}

.center-horizontal{
    display: flex;
    justify-content: center;
}

.center-vertical{
    display: flex;
    align-items: center;
}

.end-horizontal{
    display: flex;
    justify-content: flex-end;
}

.first-item{
    margin-top: 1em;
}

.last-item{
    margin-bottom:1em;
}

.margin-top-bottom{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.flex-container{
    padding: 0;
    margin: 0;
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.wrap{
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.wrap li {
    background: $third-detail-color;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.flex-item {
    //background: tomato;
    width: 125px;
    height: 125px;
    margin: 0.9em;
    line-height: 100px;
    color: white;
    font-weight: bold;
    font-size: 1.9em;
    text-align: center;
    padding: 0.1em;
}

.error-alert{
    text-align: center;
    > div{
        background-color: $error-color !important;
    }
}

.success-alert{
    text-align: center;
    > div{
        background-color: $first-detail-color !important;
    }
}

.confirm-alert{
    > div{
      background-color: $third-detail-color!important;
      text-align: center;
      font-weight: bold;
    }
    .alert-message{
        color: #ffffff;
        background-color: $third-detail-color;
        font-size: 1.3em;
        padding: 1em;
    }
    .alert-head{
        background-color: $first-detail-color!important;
        color: #ffffff !important;
    }
    .alert-button{
        background-color: $third-detail-color !important;
        color: #ffffff;
    }
  }

.splash {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    //background: -webkit-linear-gradient(bottom, #31aec2, #e5840a);
    
background: rgba(255,175,75,1);
background: -moz-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,175,75,1)), color-stop(100%, rgba(255,146,10,1)));
background: -webkit-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
background: -o-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
background: -ms-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
background: linear-gradient(to bottom, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=0 );


}