<!--
  Generated template for the EncuestaSupervisorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title></ion-title>
    <ion-buttons>
      <button ion-button (click)="VolverAtras()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>Califique la conducta de {{usuario.apellido}}, {{usuario.nombre}}.</h1>
  <div class="encuesta">
    <div class="mi-range">

      <ion-range [(ngModel)]="conducta" color="primary" pin="true" min="1" max="5" snaps="true" style="width: 100%;position: relative;"
        (ngModelChange)="ModificarTextoRange()"></ion-range>
      <span>{{textoRange}}</span>

    </div>
  </div>
  <h1>¿Tuvo algún inconveniente con {{usuario.apellido}}, {{usuario.nombre}} en horas de servicio?</h1>
  <div class="encuesta">
    <ion-list radio-group [(ngModel)]="inconveniente">
      <ion-item>
        <ion-label>Sí</ion-label>
        <ion-radio color="primary" value="1"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>No</ion-label>
        <ion-radio color="primary" value="0"></ion-radio>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="inconveniente=='1'">
  <h1>Escriba su comentario acerca de su incoveniente.</h1>

  <div class="encuesta">

    <textarea rows="4" cols="50" placeholder="Escribe tu comentario aquí..." [(ngModel)]="opinion"></textarea>

  </div>
  </div>
  <div *ngIf="usuario.tipo!='cliente'">
  <h1>Seleccione el/los aspectos a tener en cuenta de {{usuario.apellido}}, {{usuario.nombre}}.</h1>
  <div class="encuesta">
    <ion-list style="left: -25px;">

      <ion-item>
        <ion-label>Mala conducta</ion-label>
        <ion-checkbox color="primary" [(ngModel)]="aspectos.item1"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Mala presentación</ion-label>
        <ion-checkbox color="primary" [(ngModel)]="aspectos.item2"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Poca formalidad</ion-label>
        <ion-checkbox color="primary" [(ngModel)]="aspectos.item3"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Buena conducta</ion-label>
        <ion-checkbox color="primary" [(ngModel)]="aspectos.item4"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Buena presentacion</ion-label>
        <ion-checkbox color="primary" [(ngModel)]="aspectos.item5"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Buena formalidad</ion-label>
        <ion-checkbox color="primary" [(ngModel)]="aspectos.item6"></ion-checkbox>
      </ion-item>

    </ion-list>
  </div>
  </div>
  <div *ngIf="usuario.tipo!='cliente'">
  <h1>¿Indique el nivel de compañerismo de {{usuario.apellido}}, {{usuario.nombre}} para los demas empleados?</h1>
  <div class="encuesta">
    <select [(ngModel)]="prescencia">
      <option value="0">Muy bueno</option>
      <option value="1">Bueno</option>
      <option value="2">Normal</option>
      <option value="3">Malo</option>
    </select>
  </div>
  </div>
  <div *ngIf="usuario.tipo=='cliente'">
    <h1>¿Indique la propina que suele dejar {{usuario.apellido}}, {{usuario.nombre}}?</h1>
    <div class="encuesta">
      <select [(ngModel)]="propina">
        <option value="0">Siempre deja propina</option>
        <option value="1">Suele dejar buena propina</option>
        <option value="2">Suele dejar poca propina</option>
        <option value="3">Nunca deja propina</option>
      </select>
    </div>
  </div>
  <div *ngIf="usuario.tipo=='cliente'">
    <h1>¿Indique la cantidad de veces que suele venir {{usuario.apellido}}, {{usuario.nombre}} al restaurante?</h1>
    <div class="encuesta">
      <ion-list radio-group [(ngModel)]="prescenciaCliente">
        <ion-item>
          <ion-label>Todos los dias</ion-label>
          <ion-radio color="primary" value="0"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Bastante frecuente</ion-label>
          <ion-radio color="primary" value="1"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Poco</ion-label>
          <ion-radio color="primary" value="2"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Casi nunca</ion-label>
          <ion-radio color="primary" value="3"></ion-radio>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <button ion-button color="red" class="enviar" [disabled]="estadoBoton" (click)="HacerEncuesta()">Enviar encuesta</button>
</ion-content>
