<div class="container">
		<h1 class="text-center">El juego del Ahorcado</h1>
	<div class="row row-tablero">
		
	<div class="row palabra justify-content-center">
		<h2 class="text-center">{{palabra_incompleta}}</h2>
	</div>
	<div id="botones" class="row botones justify-content-center">
		<div class="align-self-center">
			<button (click)="verificar(letra, $event)" *ngFor="let letra of letras" class="btn-info font-size">{{letra}}</button>
		</div>
	</div>

	<div class="row ancho row-res">
		<div class="col-lg-6 col-md-6 col-6  pd">
			<label for="">Cantidad de Turnos: </label> 
			<label for="">{{contadorTurnos}}</label>
		</div>
		<div class="col-lg-6 col-md-6 col-6">
			<label for="">Fallos: </label> 
			<label for="">{{contadorFallos}}</label>
		</div>
	</div>


	</div>
	<div class="row">
		<button (click)="iniciar()" class="site-btn rounded mx-auto d-block">Juego Nuevo</button>
	</div>
	<div class="row">
		<div class="col-6 col-lg-6 col-md-6">
			<h3 class="ganar text-center" [hidden]="!gano">GANASTE!</h3>
		    <h3 class="text-center" [hidden]="gano || perdio">Todavia no ganaste</h3>
		    <h3 class="text-center" [hidden]="!perdio">PERDISTE!</h3>
		</div>
		<div class="col-6 col-lg-6 col-md-6 puntaje">
			<h4>Puntaje actual: {{puntaje}}</h4>
		</div>
	</div>
</div>